[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".config/bat/themes/catppuccin-bat"]
	path = .config/bat/themes/catppuccin-bat
	url = https://github.com/catppuccin/bat
