.config/lazygit/state.yml

# This makes ripgrep (rg) ignore the .git directory everywhere
# NOTE: ripgrep uses the global .gitignore file, so this will affect all repos.
.git
.config/nvim/spell/en.utf-8.add
.config/nvim/spell/en.utf-8.add.spl
.config/node_modules
node_modules
.config/bat/themes/catppuccin-bat
.oh-my-zsh

# typescript projects create these files to store state in order to optimize
# what needs to be rebuilt and what is already built.
#
# Ignoring this also makes `watchexec` not restart when they change.
tsconfig.tsbuildinfo
.config/atuin/atuin-receipt.json
integration-tests/test-environment/testdirs/
scripts/target
scripts/.bacon-locations
integration-tests/cypress/screenshots/lazygit.cy.ts
.bacon-locations
integration-tests/test-environment/.repro/data
scripts/test_utils/target
