[user]
	name = Mika Vilpas
	email = mika.vilpas@barona.fi
[core]
	editor = nvim
  pager = delta

[diff]
  colorMoved = default

[interactive]
  diffFilter = delta --color-only --features=interactive

[include]
  path = ~/dotfiles/.config/lazygit/delta-colors.gitconfig

[delta]
  features = decorations
  features = catppuccin-mocha

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax
[rerere]
  enabled = true
