---
name: Run cypress tests
on:
  pull_request: ~
  push:
    branches:
      - main

env:
  SCCACHE_GHA_ENABLED: true
  RUSTC_WRAPPER: sccache
  CARGO_TERM_COLOR: always
  # renovate: datasource=github-releases depName=jesseduffield/lazygit
  LAZYGIT_VERSION: v0.58.0

jobs:
  build:
    name: Run tests
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        neovim_version: ["nightly"]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install GNU stow and setup the dotfiles
        run: |
          sudo apt-get install stow tree
          pwd
          ls -la
          echo "Installing dotfiles to HOME $HOME"
          stow --verbose 2 . --target="$HOME"
          echo "Installed dotfiles to HOME $HOME"
          echo "List files in HOME"
          ls -la ~/
          echo "List files in ~/.config"
          ls -la ~/.config/

      - name: Install the fish shell
        run: |
          sudo apt-add-repository ppa:fish-shell/release-4
          sudo apt update
          sudo apt install fish
          echo "Installed fish version $(fish --version)"

      - name: Setup the mold linker
        uses: rui314/setup-mold@725a8794d15fc7563f59595bd9556495c0564878 # v1

      # install the "mika" terminal application from source
      - name: Setup Rust toolchain
        run: rustup toolchain install nightly --profile minimal
        working-directory: scripts

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad # v0.0.9

      - name: Install tools with UBI
        shell: bash
        run: |
          mkdir -p "$HOME/.local/bin"
          # make the tools available for subsequent steps
          echo "$(pwd)/bin" >> "$GITHUB_PATH"
          curl --silent --location \
              https://raw.githubusercontent.com/houseabsolute/ubi/master/bootstrap/bootstrap-ubi.sh |
              TARGET="$HOME/.local/bin" sh

          VERSION=$(yq '.tools.yq.version' .config/mise/config.toml)
          ubi --project mikefarah/yq --tag "v$VERSION"

          VERSION=$(yq '.tools."ubi:dandavison/delta"' .config/mise/config.toml)
          ubi --project dandavison/delta --tag "$VERSION"
          ubi --project jesseduffield/lazygit --tag "${LAZYGIT_VERSION}"

          ls -alR bin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: cargo install --locked --path scripts/
        working-directory: scripts

      # https://github.com/cypress-io/github-action?tab=readme-ov-file#pnpm-workspaces
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc
          cache: "pnpm"
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: |
            ~/.cache/Cypress
          key: my-cache-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}
      - run: pnpm install

      # need to work around https://github.com/cypress-io/github-action/issues/1246
      - run: pnpm --filter integration-tests exec cypress install
      - run: pnpm tui run

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        # add the line below to store screenshots only on failures
        # if: failure()
        if: failure()
        with:
          name: cypress-screenshots
          path: integration-tests/cypress/screenshots
          if-no-files-found: ignore # 'warn' or 'error' are also available, defaults to `warn`

