# based on https://github.com/sxyazi/yazi/blob/1a2a18e333de4d92bd83028c808cc9d388b84b60/.github/workflows/test.yml?plain=1#L1
name: Run rust tests

on:
  pull_request: ~
  push:
    branches:
      - main

env:
  SCCACHE_GHA_ENABLED: true
  RUSTC_WRAPPER: sccache
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup the mold linker
        uses: rui314/setup-mold@725a8794d15fc7563f59595bd9556495c0564878 # v1
      - name: Setup Rust toolchain
        run: rustup toolchain install nightly --profile minimal
        working-directory: scripts

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad # v0.0.9

      - name: Build
        run: cargo build --workspace --verbose
        working-directory: scripts

      - uses: taiki-e/install-action@90558ad1e179036f31467972b00dec6cb80701fa # v2
        # https://nexte.st/docs/installation/pre-built-binaries/
        name: Install cargo-nextest
        with:
          tool: cargo-nextest

      - name: Test
        run: cargo nextest run --workspace --verbose --all-features
        working-directory: scripts
